.BigContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filter-button,
.ResetFilter-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button:hover,
.ResetFilter-button:hover {
  background-color: #555;
}

.ResetFilter-button {
  background-color: #333;
  margin-left: 20px;
}
